* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rosybrown;
    color: #fff;
    margin: 40px;
}

.css-background-css {
    width: 100px;
    height: 100px;
    background: url('../src/img/test1.png')
}